.body-contacto {
  background-image: url(../images/contacto-nueva-bn.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contacto {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 50rem;
  padding-block: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #fff;
  opacity: 0.8;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

.titulo-form {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  font-family: cabin, sans-serif;
  color: #000;
}

.form-item label {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  font-family: bebas-neue, sans-serif;
  color: #000;
  padding-bottom: 0.7rem;
}

input,
textarea {
  background-color: #c4c4c4;
  padding: 0.375rem;
  outline: none;
}

input,
textarea::placeholder {
  font-style: italic;
}

.btn-contacto {
  background-color: var(--color-red);
  color: #fff;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-left: 0.6rem;
  font-weight: 700;
  padding-inline: 1.5rem;
}
