.hero-title-peliculas-desarrollo {
}

.title-peliculas-desarrollo {
  color: var(--color-red);
  font-size: 3rem;
  margin-block: 2rem;
}

.titulo-sinpsis {
  background-color: var(--color-grey);
  color: #fff;
  padding: 0.5rem 1rem;
}

.card-desarrollo {
  background-color: var(--color-bg);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
}

.img-desarrollo {
  padding: 1rem;
}

.text-sinopsis {
  color: #fff;
  padding: 1rem;
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  .card-desarrollo {
    flex-direction: column;
  }
}
