.body-quienes-somos {
  background-color: #000;
}

.red-container-wrapper {
  display: grid;
  place-items: center;
}

.red-container {
  color: #fff;
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 40rem;
  margin-block: 5rem;
}

.red-container p {
  margin-top: 0.8rem;
}

.names {
  padding-block: 2rem;
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border: 2px solid #fff;
  max-height: 150px;
  margin-bottom: 5rem;
}

.names-inside {
  display: flex;
}

.names-inside img {
  max-width: 250px;
  transform: translateY(-40%);
  transition: all 0.2s ease-in-out;
}

.names-inside img:hover {
  width: 260px;
}

.names-inside h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}

/* MODAL */

.modalo {
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid #000;
  padding: 1em;
  max-width: 70ch;
  transition: all 0.5s ease-in-out;
}

.modalo > p {
  padding-block: 0.5rem;
}
.marianaButton {
  background-color: #000000;
  color: #fff;
}

.btn {
  cursor: pointer;
}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-cerrar {
  background-color: #333;
  border: 2px solid #000 !important;
  box-shadow: none !important;
  font-size: 1.1rem;
  padding: 0.5rem;
}
dialog[open] {
  animation: show 1s ease normal;
}
@keyframes show {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}

/* MEDIA QUERYS */

@media (max-width: 768px) {
  .names {
    flex-direction: column;
    max-height: none;
    background-color: transparent;
    border: none;
    margin-bottom: 0rem;
  }

  .names-inside {
    background-color: #000;
    border: 2px solid #fff;
    justify-content: flex-start;
    align-items: center;
  }

  .names-inside img {
    transform: none;
  }
}

@media (max-width: 600px) {
  .red-container {
    margin-inline: 1rem;
    padding-inline: 0.5rem;
  }
}

@media (max-width: 425px) {
  .names-inside img {
    max-width: 100px;
  }

  .names-inside h3 {
    font-size: 1.3rem;
  }
}
