.body-quienes-somos {
  background-image: url(../images/quienes.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.red-container-wrapper {
  display: grid;
  place-items: center;
}

.red-container {
  background-color: rgba(117, 0, 12, 0.6);
  color: #fff;
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 40rem;
  margin-block: 5rem;
}

.red-container p {
  margin-top: 0.8rem;
}

.names {
  padding-block: 2rem;
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border: 2px solid #fff;
  max-height: 150px;
  margin-bottom: 5rem;
}

.names-inside {
  display: flex;
}

.names-inside img {
  max-width: 250px;
  transform: translateY(-40%);
  transition: all 0.2s ease-in-out;
}

.names-inside img:hover {
  width: 260px;
}

.names-inside h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}

.btn {
  cursor: pointer;
}

.btn-cerrar {
  background-color: #75000b;
  border: 2px solid var(--color-red) !important;
  box-shadow: none !important;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.modalo {
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid var(--color-red);
  padding: 1em;
  max-width: 70ch;
}

.modalo > p {
  padding-block: 0.5rem;
}
.marianaButton {
  background-color: #000000;
  color: #fff;
}

@media (max-width: 768px) {
  .names {
    flex-direction: column;
    max-height: none;
    background-color: transparent;
    border: none;
    margin-bottom: 0rem;
  }

  .names-inside {
    background-color: #000;
    border: 2px solid #fff;
    justify-content: flex-start;
    align-items: center;
  }

  .names-inside img {
    transform: none;
  }
}

@media (max-width: 600px) {
  .red-container {
    margin-inline: 1rem;
    padding-inline: 0.5rem;
  }
}
